body {
  margin: 0;
  padding: 0;
}

.allHeaders {
  border: solid blue;
}

/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(204, 221, 238);
  position: fixed;
  width: 100%; /* Set the width to 100% to span across the whole screen */
  border-bottom: solid 2px rgb(53, 53, 53);
}

.name a {
  /* position: fixed;  */
  margin-left: 30px;
  text-decoration: none;
  color: black;
  left: 0;
  font-family: 'Courgette', cursive;
}

#nav-bar {
  /* display: flex; */
  /* position: fixed;
  right: 0; */
}

.navigation {
  margin-right: 30px;
}

.nav-links li {
  list-style: none;
  display: inline;
  margin-right: 15px;
  transition: font-size 0.3s ease; /* Add a smooth transition effect on font-size */
}
.nav-links li a {
  text-underline-offset: 1rem;
  color: black;
}

.nav-links li:hover {
  font-size: 120%;
}

.introduce-myself {
  margin-top: 10rem;
}
.about-me-container {
  /* background-color: rgb(203, 224, 245); */
  /* text-align: center; */
  padding-top: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-bottom: 1rem;
}

.about-me-paras {
  font-family: "Cormorant";
  line-height: 1.5rem;
  margin-bottom: 2rem;
  font-size: 20px;
}

.console-log a {
  text-underline-offset: 0.5rem;
  color: rgb(53, 53, 53);
}

.cv-btn {
  font-weight: bold;
  padding: 13px;
  border-radius: 20px;
  border: solid;
  background-color: white;
  text-decoration: none;
  color: black;
}

.cv-btn:hover {
  background-color: rgb(53, 53, 53);
  color: white;
}

/* experience */

.checkMark,
.linkedin {
  width: 1rem;
}

#experience-container {
  text-align: center;
  margin-top: 12rem;
}

.resume-container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;

  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resume-li {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  list-style: none;
  border: solid rgb(53, 53, 53) 2px;
  border-radius: 20px;
  margin: 20px;
}

.resume-item {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
  transition: font-size 0.3s ease; /* Add a smooth transition effect on font-size */
}

.resume-item:hover {
  font-size: 120%;
}

/* projects */

#projects-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

li {
  list-style: none;
}

#projects-container ul {
  padding: 0px;
}

.ul-container {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  flex-wrap: wrap;

  /* width: 70%; */
}

.single-li {
  border: 2px solid rgb(53, 53, 53);
  border-radius: 20px;
  flex: 1;
  /* max-width: 30%; */
  min-width: 300px;
  max-width: 500px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 20px;
}

.single-li:hover {
  background-color: rgb(204, 221, 238);
}

.project-image {
  width: calc(
    100% - 10px
  ); /* Subtract twice the margin value (5px * 2) from 100% */
  /* border: 2px solid red; */
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow around the image */
  margin: 5px;
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.project-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
.project-names {
  font-family: "Cormorant";
  font-style: italic;
  font-size: 18px;
  margin-bottom: 40px;
}

.project-headers {
  margin-top: 25px;
}
.project-description {
  margin-top: 30px;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.href {
  text-decoration: none;
  color: black;
}

/* CONTACT */

.contact-container {
  display: flex;
}

.contact-header {
  margin-top: 8rem;
  text-align: center;
}

.contactInfoUl {
  margin: 0 auto;
  margin-bottom: 40px;
  border: solid rgb(53, 53, 53) 2px;
  max-width: 50%;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
  padding: 1rem;

  /* align-items: center; */
  /* display: flex;
  justify-content: center; */
  /* padding: 1rem;
  border-radius: 20px;
  max-width: 50%; */
}
.emailImg {
  width: 1.2rem;
}

.contactLinks {
  text-decoration: none;
  color: black;
  transition: font-size 0.3s ease; /* Add a smooth transition effect on font-size */
}

.contactLinks:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  color: rgb(53, 53, 53);
  font-size: 120%;
}

/* FOOTER */
.footer {
  color: #000;
  font-family: Poppins,sans-serif;
  font-size: 12px;
  padding-bottom: 30px;
  padding-top: 70px;
  text-align: center;
  width: 100%;
}
